.statstable > tr > th,
.statstable > tbody > tr > th {
  font-weight: bold;
}

.statstable > tr > td,
.statstable > tbody > tr > td {
  font-weight: bold;
  color: gray;
}

.statstable ul {
  color: gray;
  list-style-type: none;
  padding-left: 0rem;
}
ul.nostyle {
  list-style-type: none;
  padding-left: 0rem;
}
